<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title" style="display: inline;">Locations</h3>
    <a href="/" class="btn btn-default btn-xs pull-right">Back</a>
  </div>
  <div class="panel-body">
  <div id="date" class="well"><strong>date</strong>: <%= current_date %></div>
    <table id="table-locations" class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>LATITUDE</th>
          <th>LONGITUDE</th>
          <th>POSTCODE </th>
          <th>LAST_UPDATE</th>
          <th></th>
        </tr>
      </thead>

      <tbody class="locations">
        <% @locations.each do |loc| %>
          <tr id="<%= loc.station_id.downcase.gsub("_", "-") %>" class="location">
            <td><%= loc.station_id %></td>
            <td><%= loc.name %></td>
            <td><%= loc.lat %></td>
            <td><%= loc.lon %></td>
            <td><%= loc.postcode %></td>
            <td><%= if loc.last_update.nil? then "null" else loc.last_update.strftime("%H:%M%P %d-%m-%Y") end %></td>
            <% if loc.last_update.nil? %>
            <td></td>
            <% else %>
            <td><a href="/weather/data/<%= loc.station_id %>/<%= loc.last_update.strftime("%d-%m-%Y") %>.html">Latest data</a></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>